{% extends 'base.html.twig' %}

{% block title %}Projets{{ parent() }}{% endblock %}

{% block body %}
<div class="sectionsPage">
    <h1 class="pageTitle">Mes projets</h1>
<hr class="projectsHr">
</div>
{% for project in projects %}
<div class="project sectionsPage">
    <h3 class="projectTitle">Projet {{ project.title }}</h3>
    <div class="divPhoto">
        <a href="{{ path('project_show', {'id' : project.id}) }}">
            <img class="projetPhoto" src="/assets/images/dynamic/{{ project.photos[0].photo }}" alt="projet {{ project.title }}">
        </a>
    </div>
</div>
{% endfor %}
{% endblock %}