{% extends 'base.html.twig' %}

{% block title %}{{ project.title }}{{ parent() }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/style/projectStyle.css">
{% endblock %}

{% block body %}
<section class="sectionsPage">
    <h1 class="pageTitle">{{ project.title }}</h1>
    <div class="allPhotos">
        {% for photo in project.photos %}
        <div class="divPhoto">
            <img class="projetPhoto" src="/assets/images/dynamic/{{ photo.photo }}" alt="{{ project.title }}">
        </div>
        {% endfor %}
    </div>
    <a id="seeSite" href='{{ project.url }}' target="blank">Voir le projet ici</a>
    <h3 class="partTitle">Description du projet</h3>
    <p class="greyBack">{{ project.description }}</p>
    <h3 class="partTitle">Réalisé pour</h3>
        {% for customer in project.customers %}
            <a class="greyBack customer" href="http://{{ customer.url }}" target="_blank">{{ customer.name }}</a>
        {% endfor %}
    <h3 class="partTitle">Dates</h3>
    <p class="dates greyBack">Du <span>{{ project.startDate|date('d-m-Y') }}</span> au <span>{{ project.endDate ? project.endDate|date('d-m-Y') : 'En cours'}}</span></p>
    <h3 class="partTitle">Technologies utilisées</h3>
    <ul class="greyBack skillsList">
    {% for skill in project.skills %}
        <li>+ {{ skill.name }}</li>
    {% endfor %}
    </ul>
    {% if project.workingPartners is not empty %}
    <h3 class="partTitle">Collaborateur(s)<h3>
    <ul class="greyBack">
    {% for workingPartner in project.workingPartners %}
        <li><a href="http://{{ workingPartner.url }}">
            {{ workingPartner.firstname }} {{ workingPartner.lastname }}
        </a></li>
    {% endfor %}
    </ul>
    {% endif %}
</section>
<a class="goBack" href="{{ path('project_index')}}">Retour à la liste des projets</a>
{% endblock %}