{% extends 'base.html.twig' %}

{% block title %}Admin{{ parent() }}{% endblock %}

{% block body %}
<h1>Administration</h1>
{% for project in projects %}
<p><a href="{{ path('admin_show', { 'id': project.id }) }}">{{ loop.index }} - {{ project.title }}</a></p>
{% else %}
<p>Pas de projet à afficher.</p>
{% endfor %}
<button><a href="{{ path('admin_project_add') }}">Nouveau projet</a></button>
{% endblock %}