{% extends 'base.html.twig' %}

{% block title %}Admin{{ parent() }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/style/adminStyle.css">
{% endblock %}

{% block body %}
<h1>Administration</h1>
<h2>Projets</h2>
<ul>
    {% for project in projects %}
    <li>
        <a href="{{ path('admin_show', { 'id': project.id }) }}">{{ loop.index }} - {{ project.title }}</a>
    </li>
    {% else %}
    <li>Pas de projet à afficher.</li>
    {% endfor %}
</ul>
<button><a href="{{ path('admin_project_add') }}">Nouveau projet</a></button>
<h2>Partenaires</h2>
<ul>
    {% for workingPartner in workingPartners %}
    <li>
        <a href="{{ path('admin_partner_show', {'id': workingPartner.id}) }}">{{ loop.index }} - {{ workingPartner.firstName }} {{ workingPartner.lastName }}</a>
    </li>
    {% else %}
    <p>Pas de partenaires à afficher.</li>
    {% endfor %}
</ul>
<button><a href="{{ path('admin_partner_add') }}">Nouveau partenaire</a></button>
<h2>Compétences</h2>
<ul>
    {% for skill in skills %}
    <li>
        <a href="{{ path('admin_skill_show', {'id': skill.id}) }}">{{ loop.index }} - {{ skill.name }}</a>
    </li>
    {% else %}
    <p>Pas de compétences à afficher.</li>
    {% endfor %}
</ul>
<button><a href="{{ path('admin_skill_add') }}">Nouvelle compétence</a></button>
{% endblock %}