{% extends 'base.html.twig' %}

{% block title %}Admin{{ parent() }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/style/adminStyle.css">
{% endblock %}

{% block body %}
<table class="table">
    <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ customer.name }}</td>
        </tr>
        <tr>
            <th>Url</th>
            <td>{{ customer.url }}</td>
        </tr>
        <tr>
            <th>Projets</th>
        {% for project in customer.projects %}
            <td>{{ project.title }}</td>
        {% endfor %}
        </tr>
    </tbody>
</table>
<button><a href="{{ path('admin_customer_edit', {'id': customer.id}) }}">Edit</a></button>
<form method="post" action="{{ path('admin_customer_delete', {'id': customer.id}) }}" onsubmit="return confirm('{{ customer.name }} sera supprimé. Continuer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
    <button class="btn">Delete</button>
</form>
<a href="{{ path('admin_index') }}">Retour à index admin</a>
{% endblock %}
